@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;

}

body {
    background-image: url("birthday.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
}

h1 {
    font-size: 4rem;
    flex-wrap: wrap;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.cd-text {
    text-align: center;
}

.cd-text span {
    font-size: 1.5rem;
}